<section class="hero-banner">
    <div class="hero-contained">
        <div class="hero-title fc-white">
            <h1 class="ff-damion">{{ config.title }}</h1>
            <p class="fs-h4 fw-normal">
                {{ config.highlight_text }}
            </p>
            <a href="#about" class="btn-bg2 border-round mt-20">
                Dowiedz się więcej! <i class="bi bi-chevron-compact-right"></i>
            </a>
        </div>
    </div>
</section>
<a href="#" class="btn-back-to-top" aria-label="Back to top button">
    <i class="bi bi-chevron-up"></i>
</a>