<footer class="fc-white">
    <div class="contained row flex-just-center">

        <!-- FOOTER WEBSITE MOTO START -->
        <div class="col-quad">
            <h3 class="ff-damion">{{ config.title }}</h3>
            <p>
             {{config.description}}
            </p>
        </div>
        <!-- FOOTER WEBSITE MOTO END -->

        <!-- FOOTER QUICK CONTACT START -->
        <div class="col-quad">
            <h3 class="ff-damion">Skontaktuj sie z nami</h3>
            <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                <i class="bi bi-envelope-fill"></i>
                {{config.email}}
            </a>
            <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                <i class="bi bi-telephone-fill"></i>
                {{config.phone}}
            </a>
            <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                <i class="bi bi-geo-alt-fill"></i>
                {{config.address}}
            </a>
        </div>
        <!-- FOOTER QUICK CONTACT END -->
        
        
        <!-- FOOTER USEFUL LINKS START -->
        <div class="col-quad">
            <h3 class="ff-damion">Useful Links</h3>
            <a *ngFor="let page of pages" routerLink="{{page.path}}" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                {{page.title}}
            </a>
        </div>
        <!-- FOOTER USEFUL LINKS END -->
        
    </div>
    <div class="copy ta-center fc-white">
        <small>&copy; {{config.title}} - Copyright 2024</small>
    </div>
</footer>