<header class="h-12">
	<nav
		class="fixed inset-x-0 top-0 z-10 w-full px-4 py-1 bg-white shadow-md border-slate-500 dark:bg-[#0c1015] transition duration-700 ease-out"
	>
		<div class="flex justify-between p-4">
			<div class="text-[2rem] leading-[3rem] tracking-tight font-bold text-black">
				<a routerLink="/admin">
					Administrator
				</a>
			</div>
			<div class="flex items-center space-x-4 text-lg font-semibold tracking-tight">
				<p>Hello, Max!</p>
				<button
					(click)="logout()"
					class="px-6 py-2 text-white bg-red-700 rounded-lg hover:bg-red-800 hover:ease-in hover:underline"
					>Sign out</button
				>
			</div>
		</div>
	</nav>
</header>