<div class="mx-auto my-10 w-1/2 h-full">
    <div *ngFor="let key of getEntityKeys()" class="flex flex-col space-y-2">
        <label *ngIf="key !== 'category'" class="text-gray-700 select-none font-medium">{{key}}</label>
        <form *ngIf="key === 'category' && isCreateEntity">
            <label for="category">Choose a category: </label>
            <select [(ngModel)]="selectedCategory" name="category" id="select-category">
              <option *ngFor="let componentCategory of componentCategories" value="{{componentCategory.id}}">{{componentCategory.category_name}}</option>
            </select>
          </form>
        <input
          *ngIf="key !== 'category'"
          id="input-{{key}}"
          type="text"
          name="{{key}}"
          value="{{this.getEntityValue(key)}}"
          class="input-{{key}} px-4 pb-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200"
        />
    </div>

    <button *ngIf="!isCreateEntity" (click)="saveEntity()" class="w-full text-green-600 bg-green-100 hover:bg-green-200 text-sm py-2 px-4 rounded-md">
        Save
    </button>
    <button *ngIf="isCreateEntity" (click)="createEntity()" class="w-full text-green-600 bg-green-100 hover:bg-green-200 text-sm py-2 px-4 rounded-md">
        Create
    </button>
    <button (click)="deleteEntity()" class="w-full text-red-600 bg-red-100 hover:bg-red-200 text-sm py-2 px-4 rounded-md">
        Delete
    </button>

</div>
