<section class="sub-hero-banner" style="background-image: url('assets/art/hero1.webp');">
    <div class="hero-contained">
        <div class="hero-title fc-white">
            <h1 class="ff-damion">Kancelaria Adwokacka | About Us</h1>
            <a href="index.html" class="fc-white">
                Home
            </a>
            <i class="bi bi-chevron-right"></i>
            <a href="#" class="fc-white">
                About Us
            </a>
        </div>
    </div>
    <div class="hero-socials">
        <a href="#" class="mt-a icon-link" aria-label="Follow us on facebook">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="icon-link mt-10" aria-label="Follow us on instagram">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="#" class="icon-link mt-10" aria-label="Follow us on twitter">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="icon-link mt-10" aria-label="Follow us on youtube">
            <i class="bi bi-youtube"></i>
        </a>
    </div>
</section>